header {
  background: #d8c6e1;

  img {
    max-width: 250px;
    width: 100%;
  }
}

footer {
  color: #1d1c1c;

  .made_by {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    background: #d8c6e1;
    padding: 20px;
  }
}
